<!-- ************************************ Start footer  ************************************ -->

<footer id="footer" class="footer mt-5">
  <div class="footer-top py-3" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2500">
    <!-- ===========  footer top =============  -->
    <div class="container">
      <div class="row py-3 mt-5">

        <div class="col-lg-2 col-md-2 col-sm-2 col-2">  <!-- ----- footer-img ------- -->
          <div class="imge-footer ">
            <img src="assets/images/mm.jpg" class="w-100" alt="mohamed mimi">
          </div>
        </div>

        <div class="col-lg-4 col-md-10 col-sm-10 col-10"> <!-- ----- footer-links ------- -->
          <!-- ----- footer-social ------- -->
          <div class="footer-social">
            <ul class="d-flex align-items-center">
              <li class="footerList">
                <a class="" href="#home">Home</a>
              </li>
              <li class="footerList">
                <a class="px-5" href="#projects">Projects</a>
              </li>
              <li class="footerList">
                <a class=" " href="#services">Services</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6  col-sm-12"> <!-- ----- footer-icons ------- -->
          <div class="footer-social_icons">
            <ul class="d-flex align-items-center">
              <li class="socialIco">
                <a class="github " href="https://github.com/mohamedmimy " target="_blank"> <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="socialIco">
                <a class="linkedin" href="https://www.linkedin.com/in/mohamed-mimi-36ab26122/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li class="socialIco">
                <a class="facebook"
                  href="https://www.facebook.com/mohamedmimikamel"
                  target="_blank"> <i class="fab fa-facebook-square "></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="footer-copyright text-center py-4 ">
    <!-- ===========  footer bottom copyright =============  -->
    <span>© 2020 Mohamed mimi. All rights reserved</span>
  </div>

</footer>
