<!-- ************************************ Start contact-Section ************************************ -->
<section id="contact" class="contact mt-5 pt-5">  <!-- ========== start section contact ==========-->
  <div class="contact-text my-5" data-aos="flip-down" data-aos-duration="2200">  <!-- -------- contact-text ----------->
    <h2 >Let’s Talk</h2>
  </div>

  <div class="container py-5">
    <div class="row">
        <div class="col-lg-6 col-md-12"> <!-- -------- content-form----------->
         <div class="gitInTuch" data-aos="flip-left" data-aos-duration="3000">
          <div class="content-form">  <!-- ------- Git In Touch ------- -->
            <h2>Git In Touch</h2>

            <form
               [formGroup]= "submitForm" (ngSubmit)="getFormData(submitForm)"

               class="form">
              <div class="row">
                <div class="col-lg-6 col-md-12">  <!-- -------- Form Field input name----------->
                  <div class="form-field">

                    <input
                      formControlName="firstName"
                      type="text" name="firstName" placeholder="first Name" value="">
                      <span *ngIf="submitForm.get('firstName').invalid == true
                      && submitForm.get('firstName').touched == true"
                      class="text-danger d-block p-2">firstName not Valid</span>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12">  <!-- -------- Form Field input lastName----------->
                  <div class="form-field">
                    <input
                    formControlName="LastName"
                    type="text" name="Lastname" placeholder="Last Name" value="">
                    <span *ngIf="submitForm.get('LastName').invalid == true
                      && submitForm.get('LastName').touched == true"
                      class="text-danger d-block p-2">LastName not Valid</span>
                  </div>
                </div>
                <div class="col-md-12">  <!-- -------- Form Field input email----------->
                  <div class="form-field">

                    <input
                    formControlName="email"
                    type="email" name="email" placeholder="Email" value="">
                    <span *ngIf="submitForm.get('email').invalid == true
                      && submitForm.get('email').touched == true"
                      class="text-danger d-block p-2">Email not Valid</span>
                  </div>
                </div>
                <div class="col-md-12">  <!-- -------- Form Field input subject----------->
                  <div class="form-field">

                    <input
                    formControlName="subject"
                    type="text" name="subject" placeholder="Subject" value="">

                  </div>
                </div>
                <div class="col-md-12">  <!-- -------- Form Field input message----------->
                  <div class="form-field">
                    <textarea
                    formControlName="message"
                    name="message"  placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-md-12">  <!-- -------- Form Field input submit----------->
                  <div class="form-submit text-center  mt-3">
                    <button [disabled]= 'submitForm.invalid' type="submit" class="info-btn p-3">Send Message</button>
                  </div>

                </div>
              </div>
            </form>
          </div>
         </div>
        </div>

      <div class="col-lg-6 col-md-12"> <!-- -------- contact-info----------->
        <div class="contact-info">
          <div class="info-item" data-aos="fade-left" data-aos-duration="2600">  <!-- -------- contact-info_email ----------->
            <h2>mohamedmimy1911@gmail.com</h2>
            <div class="info d-flex">
              <div class="info-icon">
                <i class="fas fa-envelope-open-text"></i>
              </div>
              <h4>Official Mail</h4>
            </div>
          </div>
          <div class="info-item mt-5" data-aos="fade-left" data-aos-duration="3000">  <!-- -------- contact-info_phonNumber ----------->
            <h2>(002)o114183467</h2>
            <div class="info d-flex">
              <div class="info-icon ">
              <i class="fas fa-mobile-alt"></i>
              </div>
              <h4>Official Phone Number</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
