<!-- ************************************ Start contact-Section ************************************ -->
<section id="contact" class="contact mt-5 pt-5">  <!-- ========== start section contact ==========-->
  <div class="contact-text my-5 ">  <!-- -------- contact-text ----------->
    <h2>Let’s Talk</h2>
  </div>
  <div class="container py-5">
    <div class="row">
        <div class="col-lg-6 col-md-12"> <!-- -------- content-form----------->
         <div class="gitInTuch">
          <div class="content-form">  <!-- ------- Git In Touch ------- -->
            <h2>Git In Touch</h2>
            <form action="" class="form">
              <div class="row">
                <div class="col-lg-6 col-md-12">  <!-- -------- Form Field input name----------->
                  <div class="form-field">
                    <input type="text" name="name" placeholder="Name" value="">
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">  <!-- -------- Form Field input lastName----------->
                  <div class="form-field">
                    <input type="text" name="Lastname" placeholder="Last Name" value="">
                  </div>
                </div>
                <div class="col-md-12">  <!-- -------- Form Field input email----------->
                  <div class="form-field">
                    <input type="email" name="email" placeholder="Email" value="">
                  </div>
                </div>
                <div class="col-md-12">  <!-- -------- Form Field input subject----------->
                  <div class="form-field">
                    <input type="text" name="subject" placeholder="Subject" value="">
                  </div>
                </div>
                <div class="col-md-12">  <!-- -------- Form Field input message----------->
                  <div class="form-field">
                    <textarea name="message"  placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-md-12">  <!-- -------- Form Field input submit----------->
                  <div class="form-submit text-center  mt-3">
                    <button type="submit" class="info-btn p-3">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
         </div>
        </div>
      
      <div class="col-lg-6 col-md-12"> <!-- -------- contact-info----------->
        <div class="contact-info">
          <div class="info-item">  <!-- -------- contact-info_email ----------->
            <h2>mohamedmimy1911@gmail.com</h2>
            <div class="info d-flex">
              <div class="info-icon">
                <i class="fas fa-envelope-open-text"></i>
              </div>
              <h4>Official Mail</h4>
            </div>
          </div>
          <div class="info-item mt-5">  <!-- -------- contact-info_phonNumber ----------->
            <h2>(002)o114183467</h2>
            <div class="info d-flex">
              <div class="info-icon ">
              <i class="fas fa-mobile-alt"></i>
              </div>
              <h4>Official Phone Number</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
