<!-- ************************************ Start Projcets-Section ************************************ -->
<section id="projects" class="projects">
  <div class="pro-text mt-3 mb-5" > <!-- Start pro-text -->
    <h2 class="w-50 text-center m-auto" data-aos="flip-up" data-aos-duration="500">projects</h2>
  </div>
  <div class="container">
    <div class="pro-items">
      <!-- Start pro-items -->
      <div class="row ">
        <!-- ************************** col-1 ************************** -->
        <div class="col-md-3 py-3 mb-5" >
          <div class="pro-item" data-aos="fade-down" data-aos-duration="2000" data-aos="fade-down" data-aos-duration="2000">
            <!-- -------- Start pro #2  -------- -->
            <div class="pro-img ">
              <!-- Start pro-project #2 -->
              <img class=" w-100" src="assets/images/movie.GIF" alt="note">

            </div>
            <div class="pro-name">
              <!-- Start pro-pro_name #2 -->
              <h4 class="pro-title pl-3">Movie db</h4>
            </div>
            <div class="pro-text text-muted">
              <!-- Start pro-text #2 -->
              <ul>
                <li>Angular 9</li>
                <li>Bootstarb</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ************************** col-2 ************************** -->
        <div class="col-md-3 py-3 mb-5">
          <div class="pro-item" data-aos="fade-down" data-aos-duration="2000">
            <!-- -------- Start pro #2  -------- -->
            <div class="pro-img ">
              <!-- Start pro-project #2 -->
              <img class=" w-100" src="assets/images/note1.jpg" alt="note">

            </div>
            <div class="pro-name">
              <!-- Start pro-pro_name #2 -->
              <h4 class="pro-title pl-3">Note-App</h4>
            </div>
            <div class="pro-text text-muted">
              <!-- Start pro-text #2 -->
              <ul>
                <li>Angular 9</li>
                <li>Bootstarb</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ************************** col-3 ************************** -->
        <div class="col-md-3 py-3 mb-5">
          <div class="pro-item" data-aos="fade-down" data-aos-duration="2000">
            <!-- -------- Start pro #3  -------- -->
            <div class="pro-img mb-3">
              <!-- Start pro-project #3 -->
              <img class=" w-100" src="assets/images/crud2.png" alt="crud">
            </div>
            <div class="pro-name">
              <!-- Start pro-pro_name #3 -->
              <h4 class="pro-title pl-3">Crud App</h4>
            </div>
            <div class="pro-text text-muted">
              <!-- Start pro-text #3 -->
              <ul>
                <li>Angular 9</li>
                <li>Bootstarb</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ************************** col-4 ************************** -->
        <div class="col-md-3 py-3 mb-5">
          <div class="pro-item" data-aos="fade-down" data-aos-duration="2000">
            <!-- -------- Start pro #4  -------- -->
            <div class="pro-img">
              <!-- Start pro-project #4 -->
              <img class=" w-100" src="assets/images/shoppeing1.jpg" alt="E-Commerce">
            </div>
            <div class="pro-name">
              <!-- Start pro-pro_name #4 -->
              <h4 class="pro-title pl-3">E-Commerce</h4>
            </div>
            <div class="pro-text text-muted">
              <!-- Start pro-text #4 -->
              <ul>
                <li>Angular 9</li>
                <li>Bootstarb</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ************************** col-5 ************************** -->
        <div class="col-md-3 py-3  mt-5">
          <div class="pro-item" data-aos="fade-down" data-aos-duration="2000">
            <!-- -------- Start pro #5  -------- -->
            <div class="pro-img">
              <!-- Start pro-project #5 -->
              <img class=" w-100" src="assets/images/coffe image.jpg" alt="Coffe">
            </div>
            <div class="pro-name">
              <!-- Start pro-pro_name #5 -->
              <h4 class="pro-title pl-3">Cofe</h4>
            </div>
            <div class="pro-text text-muted">
              <!-- Start pro-text #5 -->
              <ul>
                <li>Angular 9</li>
                <li>Bootstarb</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ************************** col-6 ************************** -->
        <div class="col-md-3 py-3 mt-5">
          <div class="pro-item" data-aos="fade-down" data-aos-duration="2000">
            <!-- -------- Start pro #6  -------- -->
            <div class="pro-img">
              <!-- Start pro-project #6 -->
              <img class=" w-100" src="assets/images/images.png" alt="wheather">
            </div>
            <div class="pro-name">
              <!-- Start pro-pro_name #6 -->
              <h4 class="pro-title pl-3">Wheather App</h4>
            </div>
            <div class="pro-pro_text text-muted">
              <!-- Start pro-text #6 -->
              <ul>
                <li>Angular 9</li>
                <li>Bootstarb</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ************************** col-7 ************************** -->
        <div class="col-md-3 py-3 mt-5">
          <div class="pro-item" data-aos="fade-down" data-aos-duration="2000">
            <!-- -------- Start pro #7  -------- -->
            <div class="pro-img">
              <!-- Start pro-project #7 -->
              <img class=" w-100" src="assets/images/weather.jpeg" alt="Sena">

            </div>
            <div class="pro-name">
              <!-- Start pro-pro_name #7 -->
              <h4 class="pro-title pl-3">Sena</h4>
            </div>
            <div class="pro-text text-muted">
              <!-- Start pro-text #7 -->
              <ul>
                <li>Angular 9</li>
                <li>Bootstarb</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ************************** col-8 ************************** -->
        <div class="col-md-3 py-3 mt-5">
          <div class="pro-item" data-aos="fade-down" data-aos-duration="2000">
            <!-- -------- Start pro #7  -------- -->
            <div class="pro-img">
              <!-- Start pro-project #7 -->
              <img class=" w-100" src="assets/images/camera1.jpg" alt="Cameo">
            </div>
            <div class="pro-name">
              <!-- Start pro-pro_name #7 -->
              <h4 class="pro-title pl-3">Cameo</h4>
            </div>
            <div class="pro-text text-muted">
              <!-- Start pro-text #7 -->
              <ul>
                <li>Bootstarb</li>
                <li>Css</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ************************************ Start Projcets-Section ************************************ -->
