.services
{
  
  position: relative;
  h2
  {
    font-size: 2rem;
    font-weight: 900;
  }
  .services-text h2::after
  {
    content: '';
    position: absolute;
    top: 55px;
    left: 50%;
    width: 35px;
    height: 2px;
    background-color: #484e53;

  }
  .service-img .icon
  {
    position: absolute;
    top: 3.1rem;
    left: 6rem;
  }
  .icon
  {
    font-size: 3rem;
    color: #484e53;
  }
  .img-1
    {
    background-image: url('/assets/images/shape-1.png');
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 184px;
    }
    .img-2
    {
    background-image: url('/assets/images/shape-2.png');
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 184px;
    }
    .img-3
    {
    background-image: url('/assets/images/shape-3.png');
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 184px;
    }
    .img-4
    {
    background-image: url('/assets/images/shape-4.png');
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 184px;
    }
}


@media(min-width:600px) and (max-width:900px)
{

}