/* You can add global styles to this file, and also import other style files */
*
h2,h1,h3,h4
{
  color: #484e53;

}
h2
{
  font-size: 2rem;
    font-weight: 900;
}
*
body{
  font-family: 'Sansita Swashed', cursive;
}
