<!-- ************************************ Start Header-Section ************************************ -->

<header>
  <div class="home " id="home">
    <div class="container">
      <div class="row">

        <div class="col-md-8"> <!-- Start the home-info-->
          <div class="home-caption animate__animated animate__backInLeft animate__delay-0.9s">
            <h2 id="evScroll">I'm </h2>
            <h1 class="">Mohamed Mimi Kamel </h1>
            <h4 class="effact">Front End Developer</h4>
            <div class=" mt-5 ">
              <!-- <a href="" id="btn" class="Dowenload-Cv btn  w-50 ">Dowenload Cv</a> -->
              <a href="../../assets/images/CV of Mhamed mimi Front End Developer angular 2020.pdf"
               target="_self"  class="Dowenload-Cv btn  w-50" download="Mohamed Mimi CV">Dowenload Cv</a>
            </div>
          </div>
        </div>
            <!-- <a [href]="fileURL" target="_blank" id="btn" class="Dowenload-Cv btn  w-50" download="fileName.pdf">Dowenload Cv</a>
            -->
        <div class="col-md-4"> <!-- Start the home-img-->
              <div class="home-img animate__animated animate__backInRight animate__delay-0.4s" data-wow-duration="2s" data-wow-delay="0.1s">
              <img class="w-100" src="assets/images/tenor.gif" alt="">
              </div>
        </div>

        <div class="col-md-12 position-relative"> <!-- Start the Scroll button-->
          <a href="#projects" silfe-target="projects">
          <div class="scroll animate__animated animate__backInDown animate__delay-1s">
          </div>
        </a>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- ************************************ End Header-Section ************************************ -->
