<!-- ************************************ Start Header-Section ************************************ -->

<header>
  <div class="home" id="home">
    <div class="container-fluid ">
      <div class="row">

        <div class="col-md-8"> <!-- Start the home-info-->
          <div class="home-caption">
            <h2 id="evScroll">I'm </h2>
            <h1 class="">Mohamed Mimi Kamel </h1>
            <h4 class="effact">Front End Developer</h4>
            <div class=" mt-5 ">
              <!-- <a href="" id="btn" class="Dowenload-Cv btn  w-50 ">Dowenload Cv</a> -->
              <a href="file:///D:/CV/CV%20of%20Mhamed%20mimi%20Front%20End%20Developer%20angular%202020.pdf" target="_blank" id="btn" class="Dowenload-Cv btn  w-50" download="fileName.pdf">Dowenload Cv</a>
            </div>
          </div>
        </div>
<!-- <a [href]="fileURL" target="_blank" id="btn" class="Dowenload-Cv btn  w-50" download="fileName.pdf">Dowenload Cv</a>
 -->
        <div class="col-md-4"> <!-- Start the home-img-->

          <div class="row">
            <div class="col-6">
              <div class="home-img">
              <img class="" src="assets/images/tenor.gif" alt="">
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-12 position-relative"> <!-- Start the Scroll button-->

          <div class="scroll ">
            <a href="#projects" target="projects"> </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
<!-- ************************************ End Header-Section ************************************ -->
